.profile-container {
    display: flex;
}

.edit-inputs{
    display: flexbox;
    height: 600px;
    width: 300px;
    margin-top: 35px;
    flex-direction: column;
}

.collections {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    margin: 35px;
    
}

.collections > div {
    background-color: white;
    text-align: center;
    margin: 35px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    justify-content: center;
}