$primary-background-color: #37403F;
$border-color: #53615f;
$accent-color: #02AAAA;
$text-color: #fff;
$secondary-text-color: #53615f;

$primary-font-family:'Antic', sans-serif;
$font-weights: (
    'regular': 400,
    'medium': 600,
    'bold': 800,
)